<h1>商品一覧</h1>

<% @items.each do |item| %>
   <table border="1">
    <thead>
     <tr>
      <th>商品ID</th>
      <th>商品名</th>
      <th>税抜価格</th>
      <th>ジャンル</th>
      <th>ステータス</th>
     </tr>
    </thead>
    <tbody>
     <tr>
      <th><%= item.id %></th>
      <th><%= link_to admin_item_path(item) do %>
           <%= item.name %>
          <% end %>
      </th>
      <th><%= item.price %></th>
      <th><%= item.genre.name %></th>
          <% if item.is_active == true %>
           <th>販売中</th>
          <% elsif item.is_active == false %>
           <th>販売停止中</th>
          <%  end  %>
     </tr>
    </tbody>
<% end %>

<%= link_to "新規投稿", new_admin_item_path %>