<h1>商品詳細</h1>


      <%= @item.image %>
      <%= @item.name %>

      <%= @item.introduction %>
      <%= @item.price %>
      <%= @item.is_active %>
      <%= link_to "編集する", edit_admin_item_path(@item) %>


