<h1>商品詳細</h1>

      <%= attachment_image_tag @item, :image, :fill, 300, 300, format: 'jpeg' %>
      <%= @item.name %>

      <%= @item.introduction %>
      <%= @item.price %>
      <%#= @item.is_active %>
      <% if @item.is_active == true %>
           <th>販売中</th>
          <% elsif @item.is_active == false %>
           <th>販売停止中</th>
          <%  end  %>



      <%= link_to "編集する", edit_admin_item_path(@item) %>


