<h1>注文履歴詳細</h1>

<table>
    <tr>
      <th>購入者</th>
      <td><% link_to admin_customer_path do %><%= @order.customer.last_name %> <%= @order.customer.first_name %><% end %></td>
    </tr>

    <tr>
      <th>注文日</th>
      <td><%= @order.created_at %></td>
    </tr>

    <tr>
      <th>配送先</th>
      <td>〒 <%= @order.customer.postal_code %> <%= @order.customer.address %></td>
    </tr>

    <tr>
      <th>支払方法</th>
      <td><%= @order.payment_method %></td>
    </tr>

    <tr>
      <th>注文ステータス</th>
      <%= form_with model: @order, url: admin_order_path, method: :patch, local: true do |f| %>
        <td>
          <%= f.select :status, [["入金待ち", 0], ["入金確認", 1], ["製作中", 2], ["発送準備中", 3], ["発送済み", 4]] %>
          <%= f.submit "更新" %>
        </td>
      <% end %>
    </tr>
</table>


<table>
  <thead>
    <th>商品名</th>
    <th>単価（税込）</th>
    <th>数量</th>
    <th>小計</th>
    <th>製作ステータス</th>
  </thead>

  <tbody>
    <% @order.order_details.each do |order_detail| %>

    <td><%= order_detail.item.name %></td>
    <td><%= order_detail.price %></td>
    <td><%= order_detail.amount %></td>
    <td><%= order_detail.price * order_detail.amount %></td>
    <td>
      <%= form_with model: order_detail, url: admin_order_path(@order.id), method: :patch, local: true  do |f| %>
        <%= f.select :making_status, [["着手不可", 0], ["製作待ち", 1], ["製作中", 2], ["製作完了", 3]] %>
        <%= f.submit "更新" %>
      <% end %>
    </td>
    <% end %>
  </tbody>
</table>


<table>
  <tr>
    <th>商品合計</th> <td><%= @order.total_payment -= @order.shipping_cost %>円</td>
  </tr>

  <tr>
    <th>送料</th> <td><%= @order.shipping_cost %>円</td>
  </tr>

  <tr>
    <th>請求金額合計</th> <td><%= @order.total_payment += @order.shipping_cost %>円</td>
  </tr>
</table>
