      <%#= attachment_image_tag @item, :image, :fill, 300, 300, format: 'jpeg' %>
      <h4><%= @item.name %></h4>
      <h4><%= @item.introduction %></h4>
      <h4>￥<%= 1.1*@item.price %>(税込)</h4>

      <%= form_with(model: @cart_item, local: true, method: :post, url: cart_items_path ) do |f| %>
        <%= f.select :amount, {'1': 1, '2': 2, '3': 3}, { include_blank: '選択してください'}, { class: 'form-control' , required: true } %>
        <%= f.hidden_field :item_id, value: @item.id %>
        <%= f.submit "カートに入れる" %>
      <% end %>


<%#= form_with(model: cart_items, local: true, url ??_path ) do |f| %>
  <!--<div class="form-group">
    <%#= f.label :amount, '' %>
    <%#= f.select :amount, {'1': 1, '2': 2, '3': 3}, { include_blank: '選択してください'}, { class: 'form-control' , required: true } %>
  </div>

  <div class="form-group">
    <%#= f.submit 'カートに入れる', class: 'btn btn-primary btn-block' %>
  </div>
<%# end %>-->